@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100&display=swap');
:root{
    --yellow:#fed000;
    --orange:#ff7800;
    --blue:#4400ff;
    --black:#130f40;
    --red:#ff0000;
    --light-color:#666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    --border: .2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--black);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding:0 ;
    box-sizing: border-box;
    outline: none;border:none ;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background:#eee;
}

.bvb{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--black);
    color: white;
    cursor: pointer;
    font-size:1.7rem;
 text-transform:capitalize;
}

.bvb{
    width: 100%;
}

.bvb:hover{
   background: var(--yellow); 
   color: var(--black);
}


    
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 2rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid black;
    color:var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover{
    background-color: var(--red);
}
.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background:#fff ;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2rem;
    font-weight: bolder;
    color: var(--red);
}

.header span{
    color: var(--yellow);
}



.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color:var(--black);
}

.header .navbar a:hover{
    color: var(--red);
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
    }

    .header .icons div:hover{
        background: var(--red);
        color:#fff ;
    }

    #menu-btn{
        display: none;
    }

    .header .search-form{
        position: absolute;
        top: 110%; right: -100%;
        width: 70rem;
        height:4.5rem;
        background: #fff;
        border-radius: .5rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        box-shadow: var(--box-shadow);
    }

    .header .search-form.active{
        right:2rem;
        transition: .4s linear;
    }

    .header .search-form input{
        height:100%;
        width:100%;
        background: none;
        text-transform: none;
        font-size: 1.6rem;
        color: var(--black);
        padding:0 1.5rem ;
    }

    .header .search-form label{
        font-size: 2.2rem;
        padding-right: 1.5rem;
        color:var(--black);
        cursor: pointer;
       
    }

    .header .search-form label:hover{
        color:var(--yellow);
    }
    
    
    .home{
        padding: 0;
    }

    .home .slide{
        min-height:60rem;
        display: flex;
        align-items: center;
        position: relative;
        background-size: cover !important;
        background-position: cover !important;


       
       
    }

    .home .slide::before{
        position: absolute;
        top: 0;left: 0;
        height: 100%;
        width:100%;
        background: linear-gradient(90deg, white,transparent);
    }

    .home .slide .content{
        width: 90rem;
        position:relative ;
    }

    .swiper-button-next
        .swiper-button-prev{
            top:initial;
            bottom: 0;
            left: initial;
            right: 0;
            height: 7rem;
            width: 7rem;
            line-height: 7rem;
            font-size: 3rem;
            background:black;

        }

        .swiper-button-next
        .swiper-button-prev:hover{
            background: black;
        }

    


        .reference{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
            gap:1rem;
            
        }
        

        section{
            padding: 5rem 10%;
        }

        .heading{
            margin-bottom: 3rem;
            padding-left: 1rem;
            border-left:1rem solid var(--yellow) ;
        }

        .about .box-container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
            gap:1rem;
        }

        .about .box-container .box {
            padding:3rem 2rem;
            background-color: #eee;
            text-align: center;
        }

        .About .box-container .box .content p{
            font-size: 1rem;
            text-align: left;
        }
        .contact .box-container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
            gap:1rem;
        }

        .contact .box-container .box {
            padding:3rem 2rem;
            background-color: #eee;
            text-align: center;
        }

        .contact{
            background: black ;
        }

       
        .contact .box-container form{
            flex:1 1 41rem ;
            background: white;
            padding: 2rem;
            
        }

        .contact .box-container form .box h3{
            padding: 1rem;
        }
        .contact .box-container form .box{
            margin:.7rem 0;
            width: 100%;
            padding: 1.5rem 0;
            border-bottom:var(--border) ;
            font-size: 1.6rem;
            color: var(--light-color);
        }

        .contact .box-container form .box:focus{
            border-color: var(--blue);
        }
        .contact .box-container form .box textarea{
            height: 15rem;
            resize: none;
        }
        .contact .box-container .box1{
            padding:3rem 2rem;
            
            text-align: center;
        }


        .About .box-container .box .content h3{
            font-size: 2rem;
            text-align: left;
            
        }

        .About .box-container .box .content p{
            font-size: 1rem;
            text-align: left;
        }
    
       

        .project .box-container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
            gap:1.3rem;
        }

        .project .box-container .box{
            text-align: center;
            padding: 3rem 2rem;
            cursor:inherit;
        }




        .box-container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
            gap:1rem;
        }

        .box-container .box{
            padding: 3rem 2rem;
        }

        .box-container .box p{
            font-size: 1.5rem;
            text-align: left;
        }

        .box-container .box h3{
            font-size: 3.5rem;
            text-align: left;
        }

      

        .service .box-container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
            gap:2rem;
        }

        .service .box-container .box{
            padding: 3rem 2rem;
            background: white;
            text-align: center;
            box-shadow: var(--box-shadow);
            border: var(border);
        }
        .service .box-container .box img{
            margin-bottom: .5rem;
            height: 13rem;
        }

        .service .box-container .box img:hover{
            transform: translateY(-1rem);
        }

        .service .box-container .box h3{
            font-size: 2.5rem;
            line-height: 1.8;
            color: var(--black);
            text-align: center;
        }

        .service .box-container .box p{
            font-size: 1.5rem;
            line-height: 1;
            color: var(--light-color);
            padding: 1rem 0;
        }

        




        

        .review1 .review-slider1{
            padding:1rem;
       }

       .review1 .review-slider1 .box{
        background: #fff;
        border-radius: .5rem;
        text-align: center;
        padding: 3rem 2rem;
        transition: .2s linear;
        outline-offset: -1rem;
        outline: var(--outline);
        box-shadow: var(--box-shadow);
       }

       .review1 .review-slider1 .box:hover{
        outline-offset: 0rem;
        transform: translateY(-1rem);
       }
       .review1 .review-slider1 .box img{
        height:10rem;
        width:10rem;
        border-radius: 50%;
       }

       .review1 .review-slider .box p{
        padding:1rem 0;
        line-height: 1.8;
        color: var(--light-color);
        font-size: 1.8rem;
       }

       .review1 .review-slider1 .box h3{
        padding-bottom: .5rem;
        color: var(--black);
        font-size: 2.2rem;
       }


       .review1 .review-slider1 .box .stars i{
        color: var(--orange);
        font-size: 1.7rem;
       }

       .review1 .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        gap:1.5rem;
    
    }

    .review .review-slider{
        padding:1rem;
   }

   .review .review-slider .box{
   
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
   
    transition: .2s linear;
   }

  
   .review .review-slider .box img{
    height:10rem;
    width:10rem;
   }

   .review .review-slider .box p{
    padding:1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.8rem;
   }

   .review .review-slider .box h3{
    padding-bottom: .5rem;
    color: var(--black);
    font-size: 2.2rem;
   }

   .blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;

}


.blogs .box-container{
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: #fff;
}

 .blogs .box-container .box img{
    height:25rem;
    width: 100%;
    object-fit: cover;
 }

 .blogs .box-container .box .content{
    padding: 2rem;
 }

 .blogs .box-container .box .content .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: var(--border);

 }

 .blogs .box-container .box .content .icons a{
    color: var(--light-color);
    font-size: 1.5rem;
 }

 .blogs .box-container .box .content .icons a:hover{
    color: var(--black);
 }

 .blogs .box-container .box .content .icons a i{
    color: var(--yellow);
    padding-right: .5rem;
 }

 .blogs .box-container .box .content h3{
    line-height: 1.8;
    color: var(--black);
    font-size: 2.2rem;
    padding: .5rem 0;
 }

 .blogs .box-container .box .content p{
    line-height: 1.8;
    color: var(--light-color);
   font-size: 1.5rem;
    padding: .5rem 0;
 }

 .blogs1 .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;

}


.blogs1 .box-container{
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: #fff;
}

 .blogs .box-container .box img{
    height:25rem;
    width: 100%;
    object-fit: cover;
 }

 

.footer{
    background-color: #fff;
}

.footer .box-container{
   display: grid; 
   grid-template-columns: repeat(auto-fit,minmax(25rem, 1fr));
   gap: 1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color:var(--black);
    padding: 1rem 0;
}

.footer .box-container .box h3 i{
    color:var(--yellow); 
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color:var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .links i{
    color: var(--yellow);
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
    color: var(--yellow);
    padding-right: .5rem;
}


.footer .box-container .box .share a{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--black);
    margin-left: .2rem;
    background: #eee;
    text-align: center;

}

.footer .box-container .box .share a:hover{
    background: var(--orange);
    color: yellow;
}

.footer .box-container .box .email{
    width: 100%;
    margin: .7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: #eee;
    font-size:none;
}

.footer .box-container .box .share p{
    line-height: 1.8;
    font-size: .5rem;
    color: var(--light-color);

}

.footer .logo{
    font-size: 2rem;
    font-weight: bolder;
    color: var(--red);
    
}

.footer span{
    color: var(--red);
}


.footer .box-container .box .payment-img{
    margin-top:2rem ;
    height: 3rem;
}

.footer .credit{
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 1.5rem;
    color: #130f40;
    border-top: var(--border);

}

.footer .credit span{
    color: #fed000;

}
/*medial queries*/

@media (max-width:991px){

    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    section{
        padding:3rem 5%;
        }

        .footer{
            text-align: center;
        }
    
        .fg{
            padding: 2rem 5%;
        }
    }

@media (max-width:768px){

    #menu-btn{
     display: inline-block;
    }

    .header .search-form{
        width:90%;
    }

    .header .login-form{
        width: 90%;
    }

    .home .slide{
        justify-content: center;
    }

    .home .slide .content{
        text-align: center;
    }

    .home .slide .content h3{
        font-size: 4rem;
    }

    section{
        padding:3rem 2rem;
        }

    .header .navbar{
        position: absolute;
        top:110%; right:-110%;
        width:30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active{
        right: 2rem;
        transition: .4s linear ;
    }

    .header .navbar a{
        font-size: 2rem; 
        margin: 2rem 2.5rem;
        display: block;
    }

    .footer{
        text-align: center;
    }

   

}
@media (max-width:450px){

    html{
        font-size: 50%;
    }
    .heading{
        font-size: 2.5rem;
    }


    h3.footer{
        text-align: center;
        margin-left: 10rem;
    }
   
        section{
            padding:3rem 2rem;
            }

            .home .slide{
                justify-content: center;
            }
        
            .home .slide .content{
                text-align: center;
            }
        
            .home .slide .content h3{
                font-size: 4rem;
            }
       
}